.s{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    background:url(https://images.unsplash.com/photo-1693881420291-a5e6897c0349?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80);
    background-position: center;
    background-size: cover;
}
.logo-cntnr{
    width:50%;
    height:auto;
    margin:3vw;
    display:flex;
    align-items:center;
    justify-content:center;

    position:absolute;
    top:0%;
    z-index:1;
}
.logo{
    width:2rem;
    height:2rem;

    background:white;
}


.content{
    width:100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;

    background:rgba(0,0,0,.5);
}
.title{
    font-size: 10rem;
    text-align:center;
}
.descr{
    width:50%;
    text-align:center;
    font-style: italic;
}

.socials{
    width:90%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:space-around;

}
.social{
    width:1.5rem;
    height:1.5rem;

    background:white;
    border-radius:.25rem;
    transition:background 0.5s ease;
}
.social:hover{
    background:gray;
}
@media only screen and (max-width:800px){
    .title{
        font-size:20vw;
    }
    .socials{
        width:100%;
        margin: 0 0 5vh 0;
        justify-content:space-around;
        bottom:0;
        left:0;
    }
}

/* .logo-cntnr{
    width:50%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;

    position:absolute;
    top:0%;
    left:25%;
    z-index:1;
}
.logo{
    width:2rem;
    height:2rem;
    margin:3vw;

    border-radius:.125rem;
    background:white;
}
.socials{
    width:auto;
    height:30vh;
    margin:3vw;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-between;

    position:absolute;
    bottom:0%;
    right:0%;
    z-index:1;
}
.social{
    width:1.25rem;
    height:1.25rem;

    border-radius:.25rem;
    background:white;
    transition:background 0.5s ease;
}
.social:hover{
    background:gray;
}

.content{
    width: 100%;
    height:100vh;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    background:rgba(0,0,0,0.5);
}
.nav{
    display:flex;
    flex-direction:column;
}
.nav-item{
    margin:2vh 0 0 3vw;
    font-size: .875rem;
    text-decoration: none;
    transition:color 0.5s ease;
}
.nav-item:hover{
    color:rgb(222, 201, 138);
}
.title{
    margin:0vh 0 3vw 3vw;
    font-size: 7rem;
    font-weight: 600;
} */

@keyframes anima{
    0%{
        height:10vh;
    }
    50%{
        height:5vh;
    }
    100%{
        height:10vh;
    }
}
.anima{
    width:30%;
    height:20vh;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:space-around;

    position:absolute;
    bottom:3;
    right:35;
    z-index:2;
}
.arrow-pt{
    width:1px;
    height:10vh;

    background:white;
    animation:anima 2s ease-in-out;
}
.arrow-pta{
    width:1rem;
    height:1rem;
    margin:0 0 2vh 0;

    border-bottom:2px solid white;
    border-left:2px solid white;
    transform: rotate(315deg);
}

.s1{
    width:100%;
    height:auto;
    padding:10vh 0;
    display:flex;
    flex-wrap:wrap;

    background:black;
}
.content1{
    width:50%;
    height:50vh;

    background:url(https://images.unsplash.com/photo-1693881420291-a5e6897c0349?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80);
    background-position: center;
    background-size: cover;
}
.opacity1{
    width:100%;
    height:100%;
    display:flex;
    align-items:flex-end;
    justify-content:flex-end;

    background:rgba(0, 0, 0, 0.7);
    transition:background 0.5s ease;
}

.title1{
    margin:2vh;
    font-size: 3rem;
}
.content1:hover .opacity1{
    background:rgba(0, 0, 0, 0.8);
}
@media only screen and (max-width:800px){
    .content1{
        width:100%;
    }
    .opacity1{
        align-items:center;
        justify-content:center;
    }
}





.s2{
    width:100%;
    height:auto;
    display:flex;
    align-items:center;
    justify-content:center;

    background:black;
}

.s2-pta, .s2-ptb{
    width:50%;
    height:auto;
    padding:10vh 0;
}

.s2-pta{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.subtitle2{
    font-size: .875rem;
    font-style: italic;
}
.title2{
    font-size: 3rem;
    margin:2vh 0;
}
.descr2{
    width:90%;
    text-align: center;
    font-size: .875rem;    
}

.s2-ptb{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.content2{
    width:60%;
    height:50vh;

    background:url(https://images.unsplash.com/photo-1693881420291-a5e6897c0349?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80);
    background-position: center;
    background-size: cover;
    box-shadow: -1rem -1rem 0 white;
}
.opacity2{
    width:100%;
    height:100%;

    background:rgba(0,0,0,.5);
    transition:background 0.5s ease;
}
.content2:hover .opacity2{
    background:rgba(0,0,0,0);
}

.btn2{
    width:60%;
    height:3rem;
    margin:2vh 0 0 0;

    background:white;
    color:black;
    border:none;

    transition:background 0.5s ease, color 0.5s ease;
}
.btn2:hover{
    background:none;
    color:white;
}
@media only screen and (max-width:800px){
    .s2{
        flex-direction:column;
    }
    .s2-pta, .s2-ptb{
        width:100%;
        height:auto;
        padding:10vh 0;
    }
    .content2{
        width:100%;
        box-shadow:none;
        background:white;
    }
}




.s3{
    width:100%;
    height:auto;
    padding:10vh 0;
    display:flex;
    flex-direction:column;
    align-items:center;

    background:black;
}

.content3{
    width:80%;
    height:35vh;
    margin:5vh 0;

    background:url(https://images.unsplash.com/photo-1693881420291-a5e6897c0349?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1587&q=80);
    background-position: center;
    background-size: cover;

    box-shadow: 1rem 1rem 0 white;
    transition:box-shadow 0.5s ease;
}
.opacity3{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:flex-end;

    background:rgba(0,0,0,.5);
    transition:background 0.5s ease;
}
.opacity3:hover{
    background:rgba(0,0,0,.7);
}
.content3:hover{
    box-shadow: 0rem 0rem 0 white;
}
.title3{
    width:70%;
    margin:0 2vh;
    font-size: 3rem;
}
.descr3{
    width:70%;
    margin:2vh;
    font-size: .875rem;
    font-style: italic;
}
@media only screen and (max-width:800px){
    .content3{
        width:100%;
        height:50vh;
        margin:0;
        align-items:center;
        box-shadow:none;
    }
    .opacity3{
        align-items:center;
        justify-content: center;
        box-shadow:none;
    }
    .title3{
        text-align:center;
    }
    .descr3{
        text-align: center;
    }
}


@keyframes fadeIn{
    0%{
        opacity:0;
    }
    100%{
        opacity:1;
    }
}
.logo,.title,.descr,.navs{
    animation:fadeIn 2s ease;
}